<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/profile.php?id=61578265981855" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/?hl=en" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/soumik-das-b828b3280/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Home Sweet Home Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms"> Terms</a>
        </div>
    </div>
</footer>
